body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    text-align: center;
    background-color: #944E63;
    color: #FFE7E7;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
  
  }
  
  
footer {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
  }

.line{
  border-bottom: 4px solid rgb(78, 72, 72);
  grid-area: 3 / 1 / 4 / 3;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0px; /* Gap between grid items */
  text-align: right;
  background-color: rgb(180, 121, 130);
  border-radius:10%;
  margin:0px;
  padding: 1rem;
}

.number{
  height:2rem;
  font-size: 2rem;
  
}

.calculator-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 0px; /* Gap between grid items */
  border:3px solid #FFE7E7;
  border-radius:10%;
  padding:0.5%;
}

.calculator-number{
  display: flex;
  align-items: center;
  justify-content: center;
  height:3rem;
  width:3rem;
  font-size: 2rem;
  background-color: #B47B84;
  border-radius:50%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.actions-container {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 0px; /* Gap between grid items */
  border-radius:10%;
  padding:0.5%;
}

.actions{
  display: flex;
  align-items: center;
  justify-content: center;
  height:2rem;
  width:2rem;
  background-color: #B47B84;
  border-radius:50%;
  padding:1rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}


  
.header-container {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    justify-content: center; /* Align items horizontally in the center */
    margin: 5vh;
    font-size: 3rem;
    font-weight: 600;
}
  /* Style for the image */
.header-container img {
    margin-right: 15px; /* Adjust the margin between text and image */
    max-width: 65px; /* Adjust the max-width of the image */
    height: auto; /* Maintain the aspect ratio of the image */
}

h2{
  font-size:2.5rem;
  background-color: rgb(180, 121, 130);
  border-radius:15%;
  margin: 4vw;
  padding: 2rem;

}
  
div{
    margin:1vh;
}

#result{
    border-bottom: dotted;
    padding-bottom: 0.5rem;

}

#new-game{
  background-color: rgb(180, 121, 130);
  border-radius:15%;
  padding: 1rem;
  font-size:2.5rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;

}

  
/* mobiles */
@media (max-aspect-ratio: 9/15) and (orientation: portrait) {
  .number{
    height:5rem;
    font-size: 5rem;
  }

  .calculator-number{
    height:9rem;
    width:9rem;
    font-size: 8.5rem;
  }
  .header-container {
    font-size: 6rem;
}

h2{
  font-size:4.5rem;
}

.actions{
  height:5.5rem;
  width:5.5rem;
}

}
/* tablets */
@media (min-aspect-ratio: 9/14.99) and (orientation: portrait) {
  .number{
    height:3rem;
    font-size: 3rem;
  }
  
  .calculator-number{
    height:5rem;
    width:5rem;
    font-size: 4.5rem;
  }
  .header-container {
    font-size: 5rem;
  }
  
  h2{
  font-size:3.5rem;
  }
  
  .actions{
  height:2.5rem;
  width:2.5rem;
  }
}
  
  